<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h1>Create a New Listing</h1>
    <form action="/listings" method="post"><br><br>
        <input type="text" name="title" id="title" placeholder="title"><br><br>
        <input type="textarea" name="description" id="description" placeholder="description"><br><br>
        <input type="text" name="image" id="image" placeholder="image"><br><br>
        <input type="text" name="price" id="price" placeholder="price"><br><br>
        <input type="text" name="location" id="location" placeholder="location"><br><br>
        <input type="text" name="country" id="country" placeholder="country"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>